body {
	margin: 0;
	border: 0;
	padding: 0;
}

#layout-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

.child-layout {
	height: 5rem;
	width: 100%;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 5rem;
	background-color: #67AB9C;
}

#main {
	flex-basis: 90%;
	background-color: #AB679E;

	display:flex;
	flex-direction: row;
}

#content {
	flex-basis: 90%;
	background-color: #678BAB;
}

.sidebar {
	flex-basis: 5%;
	background-color: #6667AB
}

#footer {
	flex-basis: 5rem;
	background-color: #67AB9C
}

.navigation {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	text-decoration: none;
}

.navigation a {
	text-decoration: none;
}
